body{
    margin: auto;
    justify-content: center;
    text-align: center;
    max-width: 1280px;
    display: grid;
    
}

h1{
 color: cornflowerblue;
}

img{
    width: 100%;
}

footer{
    background-color: cornflowerblue;
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
}

.one{
    grid-column: 1/2;
}

.two{
    grid-column: 2/3;
}

.three{
    grid-column: 3/4;
}

content{
    border-radius: 50%;
}