body{
  max-width: 1400px;
  background-color: #E4FDE1;
  font-family: Raleway, Arial, sans-serif;
  text-align: center;
}

nav{
  padding-top: 25px;
  font-size: 1.5em;
}

nav a{
  color: #028090;
  padding: 0px 50px;
}

nav a:hover{
  color: #F45B69;
}

.logo{
  max-width: 200px;
}

header{
  display: grid;
  grid-template-columns: 125px auto;
}

h1{
  font-size: 3em;
  color:#F45B69;
  text-decoration: underline;
}

h2{
  color: #456990;
  font-size: 2em;
  text-decoration: underline;
}

.world-general-information{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.political{
  grid-column: 1/4;
  grid-row: 1/2;
}

.underground{
  grid-column: 1/2;
  grid-row: 2/4;
}

.neutral{
  grid-column: 3/4;
  grid-row: 2/4;
}

.image-one{
  grid-column: 2/3;
  grid-row: 2/3;
}

.image-two{
  grid-column: 2/3;
  grid-row: 3/4;
}

footer{
  background-color: #F45B69;
}

.social{
  float: right;
}

p{
  font-size: 1.25em;
}