body{
  max-width: 1400px;
  background-color: #E4FDE1;
  font-family: Raleway, Arial, sans-serif;
  text-align: center;
}

nav{
  padding-top: 25px;
  font-size: 1.5em;
}

nav a{
  color: #028090;
  padding: 0px 50px;
}

nav a:hover{
  color: #F45B69;
}

.logo{
  max-width: 200px;
}

header{
  display: grid;
  grid-template-columns: 125px auto;
}

h1{
  font-size: 3em;
  color:#F45B69;
  font-style: italic;
}

h2{
  color: #456990;
  font-size: 2em;
  font-style: italic;
}

.world-general-information{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 400px 350px 350px 350px;
}

.political{
  grid-column: 1/4;
  grid-row: 1/2;
}

.underground{
  grid-column: 1/2;
  grid-row: 2/4;
}

.neutral{
  grid-column: 3/4;
  grid-row: 2/4;
}

.image-one{
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
}

.flip-box {
    background-color: transparent;
    max-width: 500px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    grid-column: 2/3;
    grid-row: 3/4;
    justify-content: center;
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

.image-two{
  grid-column: 2/3;
  grid-row: 4/5;
  width: 100%;
}

footer{
  background-color: #F45B69;
}

footer p{
  text-align: center;
}

.social{
  float: right;
}

p{
  text-align: left;
  font-size: 1.25em;
}

img{
  max-width: 500px;
}

/*This next section is for page 2/the light side page*/

.light-side{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 350px 250px 400px;
}

.intro{
  grid-column: 1/4;
  grid-row: 1/2;
}

.image-three{
  grid-column: 4/5;
  grid-row: 1/2;
}

.light-political{
  grid-column: 1/5;
  grid-row: 4/5;
}

.light-ecology{
  grid-column: 2/4;
  grid-row: 2/4;
  padding: 10px;
}

.caves{
  grid-column: 4/5;
  grid-row: 2/4;
  padding: 10px;
}

.image-four{
  grid-column: 1/2;
  grid-row: 2/4;
}