body {
    background-color: steelblue;
    width: 35%;
    margin: auto;
    text-align: center;
}

header {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

nav a {
    color: white;
    text-align: center;
}

nav a:hover {
    color: black;
}

main{
    text-align: center;
}

h1, h2 {
    color: white;
    text-align: center;
}

p{
    font-size: .9em;
}

p2{
    font-weight: bold;
    font-size: 1.2em;
}

p3{
    font-size: 2em;
}

ol, li {
    color: black;
    font-weight: bold;
    font-size: 1.1em;
}

footer{
    color: black;
    text-align: center;
}

img {
    height: 200px;
}

* {
    border: 2px yellow;
}